body{
    background-color: rgba(255, 242, 210, 0.50);
}

#gi-principal{
    box-sizing: border-box;
    position: center;
    width: 50%;
    display: flex;
    margin:auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 3px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(252, 205, 95, 0.25));
    border-radius: 5px;
}

#categories{
    border: 3px solid black;
    justify-content: space-between;
    background-color: #FCCD5F;
    
}

#div-info{
    text-align: center;
    border-left: 3px solid #000000;
}

#img-perfil-central{
    width: 50%;
    position: relative;
    margin: auto;
}

#div-text{
    text-align: center;
    margin: auto;
}

.column-div-info{
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    margin: 7%;

}

.column-div-info p {
    margin: auto;
}

#imagen-numero-pedidos{
    width: 40%;
    position: relative;
    margin:auto;
}

h4{
    font-size: medium;
}

.cosa{
    margin-left: 2%;
    margin-right: 2%;
}

#secciones{
    display: inline-flex;
    justify-content: space-between;
    margin: auto;
}

.cosita{
    justify-content: space-between;
    color: #000000;
    border: 1px solid #000000;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

#s_categories{
    display: initial;
    text-align: center;
    padding-bottom: 20%;
}

#s_historial{
    display: none;
    
}

#s_wishlist{
    display: none;
}

#s_queries{
    display:none;
}

#s_profileData{
    display: none;
}

/*Contenido de s_categories */

#header_auxiliar_h{
    box-sizing: border-box;
    position: center;
    width: 60%;
    display: flex;
    margin:auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    

}
#header_auxiliar_h h2{
    font-size: medium;
    padding: 1% 5% 1%;
    
}

#header_auxiliar_h p{
    font-size: medium;
    padding: 1% 5% 1%;
    
}

.pedido{
    box-sizing: border-box;
    display: flex;
    margin:auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    position: center;

    width: 60%;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
}

.pedido_header{
    display:inline-flex;
    width: 100%;
    padding: 0.5% 1% 1% 1%; /* top, right, bottom, left */
}

.pedido_header p{
    padding-right: 4%;
}

.pedido_botones{
    display: inline-flex;
}
.pedido_boton{
    color: #000000;
    border: 1px solid #000000;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}