body{
    background-color: rgba(255, 242, 210, 0.50);
}

#gi-principal{
    box-sizing: border-box;
    position: center;
    width: 50%;
    display: flex;
    margin:auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 3px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(252, 205, 95, 0.25));
    border-radius: 5px;
}

#categories{
    border: 3px solid black;
    justify-content: space-between;
    background-color: #FCCD5F;
    
}

#div-info{
    text-align: center;
    border-left: 3px solid #000000;
}

#img-perfil-central{
    width: 50%;
    position: relative;
    margin: auto;
}

#div-text{
    text-align: center;
    margin: auto;
}

.column-div-info{
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    margin: 7%;

}

.column-div-info p {
    margin: auto;
}

#imagen-numero-pedidos{
    width: 40%;
    position: relative;
    margin:auto;
}

h4{
    font-size: medium;
}

.cosa{
    margin-left: 2%;
    margin-right: 2%;
}

#secciones{
    display: inline-flex;
    justify-content: space-between;
    margin: auto;
}

.cosita{
    justify-content: space-between;
    color: #000000;
    border: 1px solid #000000;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

#s_categories{
    display: initial;
    text-align: center;
    padding-bottom: 10%;
}

#s_historial{
    display: none;
    
}

#s_wishlist{
    display: none;
}

#s_queries{
    display:none;
}

#s_profileData{
    display: none;
}

/*Contenido de s_categories */

#header_auxiliar_h{
    box-sizing: border-box;
    position: center;
    width: 60%;
    display: flex;
    margin:auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    

}
#header_auxiliar_h h2{
    font-size: medium;
    padding: 1% 5% 1%;
    
}

#header_auxiliar_h p{
    font-size: medium;
    padding: 1% 5% 1%;
    
}

.pedido{
    box-sizing: border-box;
    display: flex;
    margin:auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    position: center;

    width: 60%;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
}

.pedido_header{
    display:inline-flex;
    width: 100%;
    padding: 0.5% 1% 0.5% 1%; /* top, right, bottom, left */
    
}

.pedido_header p{
    padding-right: 4%;
}

.pedido_boton{
    color: #000000;
    border: 1px solid #000000;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    
}

.pedido_botones{
    margin-right: 4%;
}


.borde_doble{
    border-width: 1px 0px;
    border-style: solid;
    border-color: #A7C3BC;    
}

.borde_doble p{
    margin-right: 3.2%;
}

.borde_doble_fuerte{
    border-width: 2px 0px;
    border-style: solid;
    border-color: #000000;
    max-width: 20%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    
}

.producto_pedido{
    margin-left: 5%;
    min-width: 90%;
    display: inline-flex;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-right: 5%;
    margin-bottom: 5%;
}

.producto_pedido p{
    float:inline-end;
}

.pedido_boton_devolver{
    color: #000000;
    border: 1px solid #000000;
    display: flex;
    margin-top: 40%;
    margin-bottom: 0.5%;
}

/*Lista de deseos */

.container_h2{
    box-sizing: border-box;
    position: center;
    width: 60%;
    display: flex;
    margin:auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.wishlist{
    box-sizing: border-box;
    display: flex;
    margin:auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    position: center;

    width: 60%;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
}

.columna_wishlist{
    display:flex;
    padding-left: 3%;
    padding-top: 2%;
}

.columna_wishlist p{
    margin:auto;
    padding-left: 5%;
}

.columna_mid_wishlist{
    margin:auto;
    display: inline-flex;
}

.columna_r_wishlist{
    margin:auto;
}

.boton_wishlist{
    color: #000000;
    border: 1px solid #000000;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    min-width: 38%;
    align-items: center;
}

/*Configuración */

#s_profileData h2{
    margin-top: 2%;
    margin-left: 2%;
}

.datos_generales{
    margin-top: 2%;
    margin-left: 2%;
}

.input_perfil{
    display: block;
    width: 20%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-right: 2%;
    margin-bottom: 1%;
}

.borde_inferior{
    border-bottom: 1px solid #000000;
}