body{
  background-color: rgba(255, 242, 210, 0.5);
}
.navbar{
  background-color: #FCCD5F;
}

.btn_cerrar{
  border: none;
  background-color: white;
  width: 38px;
  height: 38px;
  transition: all 0.6s;
}
.btn_cerrar:hover{
  transform: scale(1.01);
  box-shadow: 0 0 5px #2192FF;
  border: #2192FF 2px solid;
  border-radius: 7px;
}

p{
  color:black;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.login {
  position: absolute;
  margin: 1em 101em auto;
}

.login button {
  width: 0;
  height: 100%;
  text-align: center;
  position: relative;
  padding: 0 21px;
  font-size: 18px;
  background-color:#D9D9D9;
  outline: none;
  border: 0px;
  border-radius: 30px;
  transition: all 0.6s ease;
}

.login button a{
  display: inline-block;
  right: 0;
  top: 0;
  line-height: 43px;
  width: 100%;
  transition: all 0.6s ease;
  transform: scale(0, 1);
  text-decoration: none;
  color: black;
}

.btn2_login img{
  vertical-align: sub;
}

.btn2_cart img{
  vertical-align: sub;
}

.btn2_login {
  width: 43px;
  height: 43px;
  line-height: 44px;
  top: 0;
  left: 0;
  position: absolute;
  background: #FCCD5F;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
}


.login:hover button {
  width: 200px;
}

.login:hover button a{
  transform: scale(1, 1);
  
}

.login button:focus {
  width: 200px;
}


.cart{
  position: relative;
  margin: 1em 117em  auto;
}

.cart button {
  width: 0;
  height: 100%;
  text-align: center;
  position: relative;
  padding: 0 21px;
  font-size: 18px;
  background-color:#D9D9D9;
  outline: none;
  border: 0px;
  border-radius: 30px;
  transition: all 0.6s ease;
  float: right; /*esta cosa malvada hace que se quede el eje x(0,0) en la derecha que loco no?*/
} 

.btn2_cart {
  width: 43px;
  height: 43px;
  line-height: 44px;
  top: 0;
  right: 0;
  position: absolute;
  background: #FCCD5F;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
}

.cart button p{
  display: inline-block;
  margin: 0;
  line-height: 43px;
  width: 100%;
  transition: transform 0.6s ease-in-out;
  transform: scale(0, 1);
}


.cart:hover button {
  width: 200px; 
  
}
.cart button:focus{
  width: 200px;
}

.cart:hover button p{
  transform: scale(1, 1);
  
}

 #cuerpo_carrito{
  display: flex;
  border-top: 1px solid;
  border-color: rgba(46, 79, 79, 0.75);
  justify-content: center;
 } 

 .btn_añadir_articulos{
  display: flex;
  width: 200px;
  height: 40px;
  background-color: rgba(46, 79, 79, 0.75);
  border-radius: 7px;
  margin: 0 0 auto;
  outline: none;
  border:none;
  transition: all 0.6s ease;
  align-items: center;
  justify-content: center;
  color: #CBE4DE;
 }

 .btn_añadir_articulos:hover{
  background-color: rgba(46, 79, 79, 0.70);
  transform: scale(1.01);
  box-shadow: 0 0 2px black;
  border: 1px solid;
  border-color: black;
 }
 
.input-group {
  width: 50%;
  vertical-align: sub;
  margin: auto;
  margin-top: 10%;
}

.input-group input{
  max-width: 100%;
  max-height: 100%;
  border: none;
  border-radius: 7px;
  width: 900px;
  background-color: rgba(46, 79, 79, 0.75);
  margin-left: 30em;
  text-indent: 1em;

}

.input-group button{
  background-color: rgba(46, 79, 79, 0.75);
  border: none;
  outline: none;
}
.input-group input::placeholder{
  color: #CBE4DE;
}

.input-group input:hover{
  border: solid;
  background-color: white;
  border-color: rgba(46, 79, 79, 0.75);
}
.btn_marcos{
  border-radius: 50%;
  width: 56px;
  height: 55px;
  background-color: #D9D9D9;
  border: currentColor;
  box-shadow:  0px 2px rgba(0,0,0,0.25);
  margin-bottom: 7em;
  
}

.marcos_tiendas{
  width: 50%;
  text-align: start;
  margin: auto;
  margin-left: 25em;
  margin-top: 3em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.imagen_marco{
  transition: transform 1s ease-in-out;
}
.imagen_marco:hover{
  transform: rotate(180deg);
}
.marco1{
  background-color: #D9D9D9;
  border-radius: 10px;
  width: 195px;
  height: 165px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-left: 3em;
  padding-top: 1em;
  text-align: center;

}
.marco2{
  background-color: #D9D9D9;
  border-radius: 10px;
  width: 195px;
  height: 165px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-left: 3em;
  padding-top: 1em;
  text-align: center;
}
.marco1:hover{
  transform: scale(1.05);
  box-shadow: 0 0 10px black;
}
.marco2:hover{
  transform: scale(1.05);
  box-shadow: 0 0 10px black;
}
.marco3:hover{
  transform: scale(1.05);
  box-shadow: 0 0 10px black;
}
.marco3{
  background-color: #D9D9D9;
  border-radius: 10px;
  width: 195px;
  height: 165px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-left: 3em;
  padding-top: 1em;
  text-align: center;
  
}
.marco1 img{
  max-width: 100%;
  max-height: 100%;
}
.marco2 img{
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 3.3em;
  margin-top: 2em;
}

.marco3 img{
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 1em;
  margin-top: 1em;
}

.logo{
  width: 500px;
  margin-left: 42em;
  padding-top: 5em;
}